@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.context-menu{

    width: 240px;
    height: 360px;
    padding: 10px;
    font-size: 15px;
    border-radius: 3px;
    position: absolute;
    top: 0;
    bottom: 0;
    border: 1px solid #ccc;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: none;
}
.menu{
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
    user-select: none;
    border-radius: 3px;
    padding: 5px 10px;
}
.menu-divider{
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}
.menu:hover{
    background-color: #F6F6F6;
}